<app-navbar></app-navbar>

<div class="grid grid-cols-1 lg:grid-cols-5 gap-x-4 w-10/12 lg:w-11/12 mx-auto">
  <div
    class="flex items-center justify-center lg:justify-between lg:grid col-span-1 lg:grid-cols-1 p-4 gap-4 mb-4 lg:mb-0 rounded-xl bg-secondary h-fit lg:w-full"
  >
    <p class="font-semibold text-lg text-tertiary hidden lg:block">Generos</p>
    <ng-container *ngFor="let genre of genres; trackBy: trackByMovieId">

      <app-genre-card [isSelected]="genresQueryParams.includes(genre.name)" (removeGenre)="onRemoveGenre(genre.name)" (selectGenre)="onSelectGenre(genre.name)"  [genre]="genre" ></app-genre-card>
    </ng-container>


  </div>
  <div class="lg:col-span-4 grid gap-y-5">
    <input
      type="text"
      class="p-2 bg-gray-300 text-black placeholder-black rounded-lg h-fit"
      placeholder="Movie.."
      (ngModelChange)="onSearch($event)"
      [(ngModel)]="inputSearch"
    />

    <div class="grid grid-col-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <ng-container *ngFor="let movie of filterMovies">
        <app-movie-card [movie]="movie"></app-movie-card>
      </ng-container>
    </div>
  </div>
  <h1></h1>
</div>
